<style>
  #printable p {
    margin-left: 50px;
    margin-right: 50px;
  }

  #printable > h2,
  #printable > h3 {
    margin-top: 30px;
    margin-left: 50px;
  }

  #printable {
    margin-left: 50px;
    margin-right: 50px;
  }
</style>

<ion-header>
  <ion-toolbar>
    <ion-title>PDF-MAKER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="printable">
    <h2>This is a PDF test title</h2>
    <p style="text-align: justify;">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      accusantium, repudiandae nemo a minima quod beatae, officia quaerat
      explicabo facilis perferendis minus hic ex quidem non architecto
      asperiores aspernatur neque ut. Laboriosam consequatur corrupti
      consequuntur, reprehenderit voluptas alias dicta odio unde asperiores
      adipisci? Ea, nostrum aut atque voluptatibus consequuntur repellendus
      voluptate inventore quod officia possimus, recusandae consequatur sunt
      aperiam voluptatum esse omnis? Ipsum ab a eligendi debitis reprehenderit
      natus iste nemo dignissimos aliquam ut, quidem exercitationem cum odit.
      Labore neque repudiandae est rerum accusantium, aperiam voluptates, velit
      fugiat, consequatur corrupti ducimus eum nobis eligendi aliquid odit
      soluta quibusdam perferendis sit itaque in perspiciatis error earum.
      Consectetur deleniti eaque praesentium quidem illum dolore expedita, ea
      minima et voluptas maxime dolorem ullam natus autem nesciunt, omnis ipsa!
      Illo suscipit earum eaque, dolor omnis obcaecati consequatur repellat
      rerum nihil consectetur tempore doloremque. Vitae quisquam tempora enim
      ipsum sit pariatur soluta, sunt, a maiores error voluptatum possimus, rem
      nemo eos recusandae repudiandae inventore reprehenderit minima odio maxime
      iure minus placeat! Harum illo accusantium modi provident hic, maiores in
      consequatur a! Amet cumque quia, fugit pariatur quaerat quae aperiam sequi
      similique ab accusamus optio atque culpa labore alias temporibus?
      Accusamus saepe rerum odio tempore eligendi assumenda id quia nisi officia
      natus possimus aut repudiandae, enim accusantium iure ad velit debitis
      tempora reprehenderit commodi ducimus aliquam? Atque neque quam culpa quo
      odio, fugit, repellendus laudantium minima eaque, harum aperiam
      accusantium animi maxime debitis vel dicta sunt amet perspiciatis ipsam
      quos reprehenderit quod natus. Labore sequi exercitationem quae hic
      perferendis ullam vitae odio, aspernatur excepturi ipsum reprehenderit
      explicabo expedita amet quis illum possimus. Iusto ipsam architecto optio
      hic ea. Ad corporis rerum distinctio eius magni at dicta. Harum quam
      suscipit vero quo commodi a, unde eligendi? Omnis, aperiam vero
      cupiditate, vel soluta amet nisi quisquam error illo, placeat veritatis
      porro. Odio quis quia obcaecati, cum tempore doloremque dicta tenetur quae
      distinctio numquam ipsum repudiandae atque corrupti asperiores perferendis
      iure, mollitia pariatur. Quam tempora recusandae optio. Culpa itaque
      temporibus at eius voluptatibus enim tempora porro eos fuga, doloremque
      rem beatae sit ab veniam dolorum eum esse in est eveniet. Repudiandae
      asperiores, ex porro quas numquam minima sunt minus! Id perspiciatis
      molestiae illo quod temporibus aspernatur, in eos praesentium, sapiente,
      similique suscipit repudiandae fuga qui cumque. Facilis tempora delectus
      magnam unde accusantium repellendus porro aperiam repudiandae nobis alias
      enim, non impedit, similique praesentium eaque aut obcaecati ex tempore
      temporibus asperiores! Quidem expedita adipisci delectus. Et atque
      maiores, dolorem expedita assumenda possimus mollitia tenetur iure
      adipisci quod. Error eligendi, explicabo ab distinctio facilis aperiam
      veniam voluptas velit hic sint at porro dolorum maiores blanditiis atque
      laboriosam deleniti nostrum ratione! Maiores beatae veritatis rerum
      deleniti voluptatem? Quo perferendis, beatae est ipsam dignissimos optio
      nostrum unde id deserunt cupiditate adipisci, natus temporibus dolorem
      numquam blanditiis a? Eaque consequuntur cupiditate dolor nulla est optio
      maiores. Expedita eveniet ratione cupiditate illo hic animi possimus, id
      autem doloremque voluptatibus consequatur accusamus saepe illum similique
      accusantium, eum neque labore, dolorum delectus magnam! Illum assumenda
      laudantium blanditiis rerum tempore sapiente iusto nostrum quae velit est
      quibusdam nisi, similique ea molestiae ratione facilis ab deserunt
      possimus voluptate, voluptatum vitae maiores. Vel pariatur unde dolor,
      accusantium perspiciatis tempora fugiat tenetur repellat illum hic est
      voluptatum aut omnis ab commodi cumque quisquam provident corporis
      corrupti laboriosam. Nihil consequatur ab, totam nam unde vel eos
      consectetur possimus illum doloribus pariatur hic sed fuga voluptate.
      Perspiciatis repellat eaque voluptatum id itaque magnam sint et corrupti.
      Veritatis nihil numquam rerum cum, quam incidunt eum quae. Modi quidem
      nostrum doloribus omnis possimus eaque voluptas atque! Saepe expedita
      accusantium, dignissimos necessitatibus harum amet fugiat quia soluta
      eligendi ipsum numquam laboriosam nihil dolor at aliquam magnam quas nemo
      debitis iusto assumenda minus rerum maxime. Rem veniam corrupti hic vero
      ad minima. Quidem quibusdam ab temporibus rerum nemo dolor consectetur
      deserunt alias ut architecto et accusantium cum provident quisquam nostrum
      maxime officiis dolore, aut magni doloribus obcaecati magnam vero fugit
      ipsum. Aperiam nam libero omnis. Omnis ad quo rem ut. Sapiente recusandae
      ullam vero blanditiis eveniet natus, dolorem harum, sit atque provident
      dolores, ipsam eligendi cumque et totam accusamus corrupti deserunt
      officia quo. Quos iure illo magni deserunt nostrum rem mollitia explicabo
      minima doloremque minus quis, odio sed rerum obcaecati inventore impedit
      dolorum sit ut beatae quidem deleniti quasi voluptates nesciunt ad.
      Officiis doloribus pariatur est autem tempora quis architecto modi, nemo
      beatae deleniti amet laboriosam atque ipsum sed earum illum dolorem
      commodi incidunt exercitationem facere soluta sit vitae aut! Eius, rem
      accusamus sint qui aliquam itaque ab voluptatem facilis nulla, molestias
      in assumenda eligendi eum! Magnam provident labore eligendi est, tempora
      quis quaerat quas ex neque, nisi consequuntur ipsum omnis fuga architecto
      cum! Necessitatibus sequi dicta quae aut esse doloribus ea sunt voluptates
      similique? Magni libero ab numquam quasi voluptates in voluptatibus vitae
      iste aliquid, dolor nobis similique deleniti magnam impedit nemo dicta
      autem animi quisquam quae consequatur, possimus qui inventore ut. Non eos
      veniam fugit libero sunt labore quae, nihil, vitae accusamus, eaque
      aliquid pariatur placeat laborum. Pariatur quidem cupiditate hic,
      consequatur asperiores cum omnis illo aspernatur reiciendis, possimus
      deleniti. Quam eaque ea sit qui, consectetur recusandae aspernatur illum
      veniam, natus vero quia ex similique reprehenderit possimus porro aliquam
      excepturi ipsum quisquam, nisi dolore soluta. Voluptatibus sapiente sed
      molestiae magnam facilis error nisi minus facere. Possimus quibusdam, nisi
      iste exercitationem, praesentium eius similique sequi mollitia, non quam
      totam. Quisquam, consequuntur corporis ut dignissimos reiciendis
      reprehenderit unde autem pariatur voluptates nobis! Voluptatibus quasi
      corporis recusandae nulla nesciunt quas molestiae iure, excepturi eaque,
      est deserunt eos. Architecto id aperiam aliquam aliquid atque voluptas
      asperiores nisi corrupti placeat fugiat modi fuga ipsam animi, voluptatem
      repellat, cupiditate eius explicabo? Obcaecati dolorum, placeat voluptates
      numquam corporis quo iste quibusdam laboriosam ea enim consequuntur
      suscipit laborum doloremque ad ullam excepturi iusto hic accusamus rerum
      dolor ipsum, molestiae veniam! Sunt, vel, id fuga qui cupiditate obcaecati
      debitis et vitae minus ratione nobis earum dolore eius? Hic voluptatum
      eius, quibusdam quia a magnam tenetur illum adipisci? Excepturi saepe
      porro optio voluptatum provident exercitationem?
    </p>
    <h3>Lorem ipsum dolor sit.</h3>
    <p style="text-align: justify;">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit est
      earum sapiente asperiores, facilis quas sequi voluptates dolorem
      dignissimos temporibus similique incidunt iusto pariatur blanditiis
      perspiciatis accusantium tenetur, sunt voluptatem deserunt delectus,
      reprehenderit illo officia? Necessitatibus quam rerum perspiciatis amet
      voluptate mollitia repellendus, consequatur maiores impedit magni porro in
      vel possimus libero alias corporis odio, ex, repudiandae error saepe
      pariatur consequuntur dicta. Nam dignissimos sit cum aliquid accusamus
      magni voluptate iure enim blanditiis quam modi porro optio, inventore
      voluptas? Ut minus repellat amet, dolorem eos cumque nesciunt veritatis
      tempore eius dolores deleniti odio incidunt, esse distinctio voluptatibus
      exercitationem? Dignissimos incidunt placeat aliquid sint repudiandae
      vitae error nobis quasi consectetur exercitationem magnam, iste quod illo
      commodi earum nemo corrupti ab voluptatum, autem soluta omnis laudantium
      dicta aut voluptatem. Nostrum quaerat id omnis minima aperiam ipsum
      architecto maiores in, labore sunt fugit dignissimos reprehenderit, vero
      facilis? Non doloremque quis possimus dolorem quam ullam, inventore illo,
      dolore veniam doloribus tempore fugiat. Et quod excepturi cum ducimus,
      quis sequi, veritatis itaque odit ipsa ullam numquam, eligendi laborum
      maxime quibusdam autem saepe. Dolores nemo distinctio totam non minus
      cupiditate sapiente consequuntur, commodi rerum, odit ipsa unde cum
      inventore, animi sit ratione. Consectetur quidem, perferendis dolor alias
      aliquam, nostrum deserunt nisi amet quas earum voluptates vero nemo illum
      vitae at blanditiis ex corporis neque iusto, ipsum placeat accusantium!
      Vel reiciendis dolorem ducimus at ab voluptate quaerat perferendis
      explicabo eligendi alias, suscipit aliquam beatae ratione atque! Fuga, in
      ut voluptatibus nam ullam temporibus soluta perferendis expedita quaerat
      reiciendis aliquam, ab tempore sapiente! Nesciunt minima optio facilis
      earum aliquam repellendus, fugiat eius consectetur iure provident
      reiciendis delectus aut. Quasi, unde accusantium, quibusdam, ab
      repellendus error tempora id nobis ipsam eveniet facilis alias pariatur
      magnam quo veniam quam. Nemo nam ipsum, esse tempora nulla accusantium
      incidunt reprehenderit, inventore, deleniti iure ex? Qui porro minus
      blanditiis animi voluptatum, magnam quos totam tempore voluptate, magni
      illum eligendi hic nobis delectus esse saepe quaerat dolore tempora?
      Corporis esse odit, exercitationem voluptatum vitae sapiente cum sunt
      veniam dolore repellendus architecto laborum iste ipsam perferendis
      nostrum aliquam repudiandae? Deserunt, corporis, eveniet assumenda rem
      cupiditate, aliquid porro laboriosam quibusdam non illo ullam ad nihil
      necessitatibus facilis qui nam repudiandae sint dicta tempora tenetur
      minima totam et? Distinctio quae molestias at sequi provident facilis enim
      iusto sit libero possimus eaque soluta cupiditate, architecto nam! A
      aperiam, consequuntur atque assumenda aliquid fuga numquam incidunt,
      necessitatibus velit natus qui vero ipsum id dolores rerum aliquam labore
      amet. Voluptatibus itaque veritatis consequuntur dignissimos officiis
      alias porro minima nesciunt, eveniet quis id laborum unde voluptates?
      Iusto quo dolorem reprehenderit quaerat aut harum numquam doloremque eius
      id distinctio sit, culpa error cupiditate et architecto possimus labore
      sunt veniam, perferendis pariatur corrupti dicta debitis odit? Reiciendis
      consequatur ratione, omnis vero optio impedit debitis amet blanditiis
      aliquid nemo porro dolorum itaque obcaecati ipsa labore sequi nulla
      recusandae magni? Distinctio alias at repudiandae nisi quisquam excepturi
      corrupti consequuntur amet assumenda eum illum, qui voluptas modi eligendi
      deserunt adipisci cupiditate vero omnis quibusdam vitae laboriosam.
      Sapiente cumque recusandae et provident tenetur, at consequuntur iusto
      rerum a maiores est illo quaerat! Praesentium, eum veritatis consequuntur
      voluptatibus itaque ad quibusdam aliquid ex ipsam amet qui cupiditate
      fugit perferendis neque fuga delectus, corporis voluptatem. Harum, aliquam
      quos voluptate dignissimos sit commodi natus consectetur pariatur deserunt
      ut, eos hic nostrum amet blanditiis quibusdam corrupti ipsa optio
      cupiditate distinctio maiores tenetur quae temporibus similique cum.
      Assumenda, eos quisquam labore distinctio id illum nihil, soluta numquam
      modi eius laboriosam fuga minus expedita fugiat voluptatem quibusdam
      voluptates perferendis dolorum natus deleniti ad velit. Perspiciatis
      facere fuga ducimus cupiditate, repudiandae repellendus aliquid ab eum hic
      a corporis inventore atque vel ipsam iusto recusandae veritatis. Ut sed
      blanditiis dolorem amet beatae aperiam necessitatibus hic facere corrupti,
      impedit officiis fugiat inventore animi vel magni fugit sunt omnis
      assumenda corporis esse repudiandae odit alias modi. Tempore perferendis
      repudiandae ipsa vel eos earum, illo molestiae, blanditiis, omnis vitae
      magni praesentium aliquam eius aliquid animi. Totam excepturi dicta fugiat
      reprehenderit ea libero reiciendis exercitationem provident nihil quasi
      facere tenetur, non at ratione iste. Incidunt delectus aperiam modi. Nam
      hic iste nihil pariatur adipisci fugit exercitationem ab similique. Ea
      neque ipsa, facilis similique praesentium quae eos sint facere odit, est
      exercitationem quo libero, fugiat aspernatur blanditiis ab voluptatem sit
      eius. Error at quam reiciendis molestias explicabo labore? Dolores qui
      ipsum blanditiis ad minus inventore natus est veniam in voluptatum,
      debitis neque, corrupti laborum sint non voluptas optio, pariatur maiores
      molestias et? Nihil, eius. Et rerum, fugiat sint maiores quas error alias
      a minus debitis laudantium similique obcaecati atque praesentium ipsum,
      maxime quibusdam minima consequatur quod quia? Voluptates sequi ullam
      dolore consectetur? Odit, quasi enim deserunt laborum soluta doloribus
      illo, temporibus corrupti eum velit beatae quis quo unde. Asperiores,
      dolorem vel placeat quis voluptatem non, accusamus assumenda enim
      quibusdam explicabo totam quos sit possimus distinctio laborum rerum cum
      ex saepe ipsam aspernatur maiores inventore atque doloremque. Saepe porro
      atque illum molestias hic ipsam est ratione numquam consectetur, esse
      commodi mollitia rerum nemo quis dignissimos ea necessitatibus. Delectus
      in libero, temporibus similique maxime sint id fugit quaerat facilis iure
      dolore nam vitae assumenda hic alias natus non amet provident
      voluptatibus. Voluptatem totam magnam distinctio, delectus eligendi
      commodi deleniti veritatis pariatur. Beatae enim eveniet deleniti vero at
      accusamus corrupti minima, veniam suscipit quis libero excepturi
      recusandae corporis veritatis fugit saepe! Impedit labore soluta debitis!
      Est corporis, explicabo laborum ex quos sequi magnam tenetur tempore
      commodi eius nihil, placeat a illo culpa rerum quo voluptas laboriosam
      quis id! Totam a esse blanditiis ex unde nam nesciunt ab quidem, ipsa quam
      quos accusamus reprehenderit ut velit voluptates provident dolorem sequi
      doloribus quo consequatur. Quae, minus consequuntur, placeat odio illum
      ratione libero aspernatur consectetur cupiditate esse alias aut corporis
      laborum doloremque quaerat quibusdam dolorum ab qui. Reprehenderit,
      corporis, similique et voluptas dignissimos accusamus corrupti nemo beatae
      esse explicabo cumque nisi facilis, amet quis. Ex, non cum obcaecati
      dolorum aliquam similique veniam! Maxime neque voluptatem ullam quas
      deserunt saepe dicta aspernatur soluta iste! Omnis, sapiente!
      Exercitationem!
    </p>
  </div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="createPDF()" [disabled]="createButtonDisable"
      ><ion-icon name="add"></ion-icon
    ></ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="downloadPdf()" [disabled]="!pdfObject"
      ><ion-icon name="download-outline"></ion-icon
    ></ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button
      (click)="downloadPdfZip()"
      [disabled]="zipObject === [] || zipObject === null"
      ><ion-icon name="download-outline"></ion-icon
    ></ion-fab-button>
  </ion-fab>
</ion-content>
